* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --color-fondo: #f4f4f4;
    --color-primario: #1A1A2E;
    --color-acento: #E94560;
    --color-texto: #222222;

    --fuente-titulo: "Montserrat", sans-serif;
    --fuente-cuerpo: "Open Sans", sans-serif;
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: var(--fuente-cuerpo);
    line-height: 1.6;
}

header {
    background-color: var(--color-primario);
    color: white;
    text-align: center;
    padding: 40px 20px;
}

header p {
    margin-bottom: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;

}

nav a {
    color: var(--color-acento);
}

section {
    background-color: white;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;

}

section h2 {
    font-family: var(--fuente-titulo);
    margin-bottom: 15px;
    color: var(--color-acento)
}

ul {
    padding-left: 20px;

}

li {
    margin-bottom: 10px;
}

footer {
    background-color: var(--color-primario);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}